/****** Object:  Table [dbo].[Arquivo]    Script Date: 26/10/2025 09:57:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Arquivo](
	[IdArquivo] [int] IDENTITY(1,1) NOT NULL,
	[TipoArquivo] [varchar](10) NOT NULL,
	[NomeArquivo] [varchar](20) NOT NULL,
	[Arquivo] [varbinary](max) NULL,
	[FK_IdChamado] [int] NOT NULL,
 CONSTRAINT [PK__Arquivo__591F99788B406837] PRIMARY KEY CLUSTERED 
(
	[IdArquivo] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chamado]    Script Date: 26/10/2025 09:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chamado](
	[IdChamado] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](150) NULL,
	[PrioridadeChamado] [varchar](20) NULL,
	[Descricao] [varchar](500) NOT NULL,
	[DataChamado] [date] NOT NULL,
	[StatusChamado] [varchar](12) NOT NULL,
	[Categoria] [varchar](16) NOT NULL,
	[FK_IdUsuario] [int] NOT NULL,
	[PessoasAfetadas] [varchar](50) NULL,
	[ImpedeTrabalho] [varchar](12) NULL,
	[OcorreuAnteriormente] [varchar](7) NULL,
	[PrioridadeSugeridaIA] [varchar](50) NULL,
	[ProblemaSugeridoIA] [varchar](max) NULL,
	[SolucaoSugeridaIA] [varchar](max) NULL,
 CONSTRAINT [PK__Chamado__50020679033D172B] PRIMARY KEY CLUSTERED 
(
	[IdChamado] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Historico]    Script Date: 26/10/2025 09:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Historico](
	[IdHistorico] [int] IDENTITY(1,1) NOT NULL,
	[DataSolucao] [date] NOT NULL,
	[Solucao] [varchar](500) NOT NULL,
	[FK_IdChamado] [int] NOT NULL,
	[Acao] [varchar](50) NULL,
 CONSTRAINT [PK__Historic__9CC7EBF35F1B8193] PRIMARY KEY CLUSTERED 
(
	[IdHistorico] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 26/10/2025 09:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[CPF] [varchar](14) NOT NULL,
	[RG] [varchar](12) NOT NULL,
	[FuncaoUsuario] [varchar](14) NOT NULL,
	[Sexo] [varchar](12) NULL,
	[Setor] [varchar](25) NOT NULL,
	[DataDeNascimento] [date] NULL,
	[Email] [varchar](35) NOT NULL,
	[Senha] [nvarchar](200) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Usuario__5B65BF9744A04F78] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Usuario__321537C8F4AF3336] UNIQUE NONCLUSTERED 
(
	[RG] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Usuario__C1F89731D15C285F] UNIQUE NONCLUSTERED 
(
	[CPF] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Login] UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Usuario_Login] UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ('usuario_padrao') FOR [Login]
GO
ALTER TABLE [dbo].[Arquivo]  WITH NOCHECK ADD  CONSTRAINT [FK__Arquivo__FK_IdCh__73BA3083] FOREIGN KEY([FK_IdChamado])
REFERENCES [dbo].[Chamado] ([IdChamado])
GO
ALTER TABLE [dbo].[Arquivo] CHECK CONSTRAINT [FK__Arquivo__FK_IdCh__73BA3083]
GO
ALTER TABLE [dbo].[Chamado]  WITH NOCHECK ADD  CONSTRAINT [FK__Chamado__FK_IdUs__6E01572D] FOREIGN KEY([FK_IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Chamado] CHECK CONSTRAINT [FK__Chamado__FK_IdUs__6E01572D]
GO
ALTER TABLE [dbo].[Historico]  WITH NOCHECK ADD  CONSTRAINT [FK__Historico__FK_Id__70DDC3D8] FOREIGN KEY([FK_IdChamado])
REFERENCES [dbo].[Chamado] ([IdChamado])
GO
ALTER TABLE [dbo].[Historico] CHECK CONSTRAINT [FK__Historico__FK_Id__70DDC3D8]
GO
